@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(135deg, #becfee 0%, #71c6e2 50%, #d9f4fa 75%, #becfee 100%);
  }
}

body {
  background: linear-gradient(135deg, #becfee 0%, #71c6e2 50%, #d9f4fa 75%, #becfee 100%);
  font-family: 'DM Serif Display', serif;
}
